.preview {
  padding: 2rem;
  /* background-color: #443c68; */
  background-color: #635985;

  margin: 1rem 0;
  border-radius: 10px;
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  max-width: 500px;
  align-items: center;
}
.description h4 {
  padding: 0;
  margin: 0;
}
.description * {
  padding: 0.3rem;
}

.user-info {
  margin-right: 0;
  align-self: flex-end;
  justify-self: flex-end;
}

.user-info * {
  margin-right: 10px;
}
