.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.navbar input {
  width: 65%;
}

.navbar button {
  width: 20%;
}

.search {
  padding: 0 !important;
  width: 50px !important;
}
